.home-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 900px; */
  height: 500px;
  margin: 20px auto;
  border-radius: 4px;

  /* margin-left: auto; */
  background-color: #f1faf9;
  background-image: url(../assets/home-img.jpg);
  background-size: cover;
  /* border: 2px solid blue; */
}

.home-info .home-info-text {
  padding-left: 30px;
}

.home-info-text span {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color);
  font-weight: 700;
  font-size: 14px;
}

.home-info-text h2 {
  color: #0e0d0d;
  font-size: 46px;
  font-weight: 700px;
  line-height: 52px;
  margin: 10px 0;
}

.home-info-text p {
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  color: #00bbf9;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 15px 0;
}

.home-info-text button {
  /* display: inline-block; */
  font-size: 14px;
  padding: 10px 28px 10px;
  color: blue;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--background);
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.home-info .home-info-img img {
  width: 500px;
  height: 350px;
}

@media all and (width <= 768px) {
  .home-info {
    margin: 0 auto;
    max-width: 700px;
  }

  .home-info .home-info-img img {
    width: 100%;
  }
}
