.cat-details-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 30px 0;
}

.cat-details-info img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-left: 20px;
}

.cat-details-text {
  margin-top: 20px;
  margin-left: 30px;
}

.cat-details-text h3 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 16px;
}

.cat-details-rating {
  margin-bottom: 12px;
}

.cat-details-rating .rate {
  color: #edbb0e;
  margin-right: 5px;
}

.cat-details-rating .count {
  color: #dd2222;
}

.cat-details-price {
  font-size: 30px;
  color: #dd2222;
  font-weight: 600;
  margin-bottom: 15px;
}

.cat-details-text h5 {
  color: #3a86ff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cat-product-info-button button {
  margin: 10px o;

  font-size: 10px;
  padding: 10px 28px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--background);
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media all and (width <= 768px) {
  .cat-details-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
