.footer-container {
  padding: 20px;
  background-color: #f3f6fa;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 0.5px solid #8a8888;
}

.footer-one .footer-one-logo {
  margin-bottom: 20px;
}

.footer-one p,
.footer-two h5 {
  margin-bottom: 20px;
}

.footer-two .footer-two-link li {
  margin-bottom: 20px;
  color: #1c1c1c;
}

.footer-three h5 {
  margin-bottom: 15px;
}

.footer-three p {
  margin-bottom: 30px;
}

.footer-three-input {
  border: 0.5px solid rgb(211, 207, 207);
  background-color: var(--box-shadow);
  margin-bottom: 30px;
}

.footer-three-input input {
  padding: 10px;
  width: 70%;
  padding: 14px;
  border: none;
  outline: none;
}

.footer-three-input button {
  width: 30%;
  padding: 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--background);
  border: none;
  outline: none;
  border-radius: 2px;
}

.footer-three-media i {
  margin-right: 40px;
  font-size: 24px;
}

.footer-three-media i:hover {
  color: var(--color);
}

.footer-end {
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 5px 0 10px 0;
}

@media all and (width <= 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-one,
  .footer-two,
  .footer-three {
    margin: 20px 0;
  }
}
