.scroll-up {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.scroll-up button {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  font-size: 50px;
  color: var(--color);
  outline: none;
  border: 0.5px solid #333;
  height: 40px;
  width: 40px;
}
