.shop-details-info {
  display: flex;
  gap: 50px;
  align-items: center;

  margin: 20px 0 0 20px;
}

.shop-details-info img {
  width: 350px;
  height: 350px;
}

.shop-details-text {
  width: 100%;
  padding: 20px;
}

.shop-details-text h3 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 16px;
}

.shop-details-rating {
  margin-bottom: 12px;
}

.shop-details-rating .rate {
  color: #edbb0e;
  margin-right: 5px;
}

.shop-details-rating .count {
  color: #dd2222;
}

.shop-details-price {
  font-size: 30px;
  color: #dd2222;
  font-weight: 600;
  margin-bottom: 15px;
}

.shop-details-cart .remove-cart {
  margin: 10px 0;

  font-size: 10px;
  padding: 10px 28px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  background: rgb(248, 58, 58);
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

button.shop-details-add {
  margin: 10px 0;

  font-size: 10px;
  padding: 12px 28px 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--background);
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media all and (width <= 768px) {
  .shop-details-info {
    display: flex;
    flex-direction: column;
  }

  .shop-details-info img {
    width: 250px;
    height: 250px;
  }
}
